* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.header>div {
    display: inline;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #261016;
    padding: 25px 10px;
    position: sticky;
    top: 0;
}

.export-btn {
    background-color: #ff4f00;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.export-btn:focus {
    outline: none;
}

.add-btn:hover,
.export-btn:hover {
    background-color: #933104;
    transition: 0.3s;
}

.heading {
    color: rgb(243 131 90);
}

.fa-plus,
.fa-file-excel {
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.title-text {
    color: white;
    font-weight: 500;
}

/* styling table */
.table td,
.table th {
    background-color: #351111;
    color: white;
}

.table th {
    font-size: 24px;
    font-weight: 900;
    color: rgb(203, 108, 74);
}

/* styles for action buttons */
.action,
.heading {
    display: inline;
}

.action button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.edit-btn:hover {
    color: rgba(17, 230, 34, 0.512);
}

.delete-btn:hover {
    color: rgb(236, 6, 6);
}

.edit-btn {
    color: rgb(11, 183, 91);
}

.delete-btn {
    color: rgb(255, 157, 0);
}

button {
    outline: none;
    border: none;
    background: none;
}


.header-action {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.col-12 {
    padding: 0 10px;
}

.action {
    padding: 5px;
}


@media screen and (max-width: 400px) {
  .table td, .table th{
      font-size: 13px;
    }
    
  .table th {
    font-size: 17px;
    }
    
  .heading {
    font-size: 20px;
    }
    
  .col-12 {
    padding: 0 0px;
    }
   

  /* Track */
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

  /* Handle */
  ::-webkit-scrollbar-thumb {
     background: #888;
    }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
     background: #555;
    }
  
  .title-text{
      padding-left: 3px;
    }
   
  .fa-solid, .fas {
      font-family: "Font Awesome 6 Free";
      font-weight: 300;
      background-color: inherit !important;
      color: white;
    }
    
  .export-btn {
      padding: 1px 1px;
    }
}
